<div
  class="panel-group"
  id="panel-group-{{panelNumber}}"
  style="background-color: white; width: 1138px; margin-top: 2px; display:none"
>
  <div class="panel heading" style="padding-top: 5px">
    <h3
      style="color: black; padding-left: 10px"
      class="panel-tittle"
      data-target="#panel-4"
      data-toggle="collapse"
    >
      Course: {{ course.number }} - {{ course.name }} ({{
        course.credits
      }}
      Credits)
    </h3>
  </div>

  <div class="panel-collapse collapse" id="panel-4">
    <div class="panel body">
      <div class="row" style="height: 700px">
        <div class="col-md-4 content-Desc" style="background-color: white">
          <div class="container" style="padding-top: 10px">
            <h3 style="color: black">Course Description:</h3>
            <p style="color: black; padding-left: 10px">
              {{ course.description }}
            </p>
            <h3 style="color: black">Prerequisites:</h3>
            <a
              href=""
              style="padding-left: 10px"
              *ngFor="let prereq of course.prerequisites"
              >{{ prereq }}<br
            /></a>
            <h3 style="color: black">Required for Major:</h3>
            <p style="color: black; padding-left: 10px">
              {{ isInMajor }} <br /><a href="">Link to Degree audit</a>
            </p>
            <h3 style="color: black">See Availability (Total)</h3>
            <div class="container">
              <img
                src="assets/img/meta-chart.svg"
                alt="Pie chart"
                style="width:330px;height: 220px;"
              />
            </div>
          </div>
        </div>
        <div class="col-md-8 content-Selec" style="background-color: white">
          <div class="container" style="padding-top: 10px">
            <h3 style="color: black">Avaliable Selections:</h3>
            <div
              class="container sections"
              style="height: 185px; width: 600px; margin-left: 10px; margin-bottom: 10px; background-color: white"
              *ngFor="let section of course.sections"
            >
              <div class="row" style="height: 180px">
                <div class="col-md-6 section-col-1">
                  <h3 style="color: black; padding-top: 10px">
                    Section#: {{ section.number }}
                  </h3>
                  <p style="color: black; padding-left: 10px">
                    Instructor: {{ section.instructor.name }}<br />
                    <a href="{{section.instructor.infoLink}}"
                      >Instructor Info<br
                    /></a>
                    <a href="{{section.instructor.reviewsLink}}"
                      >Instructor Reviews<br
                    /></a>
                    <a href="{{section.syllabusLink}}">Course Syllabus</a>
                  </p>
                </div>
                <div
                  class="col-md-6 section-col-2"
                  *ngFor="let time of section.times"
                >
                  <h3 style="color: black; padding-top: 10px">
                    Class Meeting/Times
                  </h3>
                  <p style="color: black; padding-left: 10px">
                    <span *ngFor="let day of time.days; let last = last"
                      >{{ day }}<span *ngIf="!last">, </span></span
                    >
                    ({{ time.begin }} - {{ time.end }}<br />
                    <a href=""><br />{{ time.location }}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
